  
    .calculator {
            height: 320px; 
            width: 235px;
            border-radius: 3px;
            overflow: hidden; /*Tudo oque estiver fora da calculadora fica oculto*/
             
            display: grid
        }

.corpo {
    color: white;
    align-items: center;
}

