body {
  display: flex;
  height: 100vh;
  justify-content: center; /*Alinhamento Horizontal*/
  align-items: center; /*Alinhamento Vertical*/
  text-align: center;


  color: black;
  background: linear-gradient(to right, rgb(232, 203, 192), rgb(99, 111, 164));

}